<!-- <!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head> -->
<!-- reset password .-->
{% extends '_layout.html' %}
{% block body %}

<div class="body-reset">
  <div class="box-reset">
    <h1 class="h1-reset">Reset Password</h1>
    <form action="/reset_password" method="post">
      <div class="form-group-reset">
        <label for="email_or_username">Email or Username<span class="required-reset">*</span></label>
        <input type="text" class="form-control-reset" id="email_or_username" name="email_or_username" placeholder="Enter your email or username">
      </div>
      <div class="form-group-reset">
        <label for="newPassword">New Password<span class="required-reset">*</span></label>
        <input type="password" class="form-control-reset" id="newPassword" name="password" placeholder="Enter new password">
      </div>
      <div class="form-group-reset">
        <label for="confirmPassword">Confirm Password<span class="required-reset">*</span></label>
        <input type="password" class="form-control-reset" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
      </div>
      <button type="submit" class="custom-btn-reset">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}

